* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}
:root {
  font-size: 62.5%;
  --pink: #b52184;
  --blue-dark: #312d64;
  --white: #fff;
}
body {
  font-family: "Mulish", sans-serif;
}

header {
  max-width: 130rem;
}
